.detail-title
  | git常用命令

.detail-content
  dl
    dt 克隆github项目
    dd git clone 项目地址

  dl
    dt 添加所有文件
    dd git add -A

  dl
    dt 添加备注
    dd git commit -m "备注文字"

  dl
    dt 提交代码到github
    dd git push origin master

  dl
    dt 从github上拉取更新
    dd git pull origin

  dl
    dt 本地回滚到上一版本
    dd git reset --hard

  dl
    dt 本地回滚到某一版本
    dd git reset --hard [版本号]

  dl
    dt 查看git日志
    dd git log

