.detail-title
  | sublime常用快捷键

.detail-content
  dl
    dt ctrl + shift + p
    dd 打开命令面板

  dl
    dt ctrl + p
    dd 查找文件

  dl
    dt ctrl + r
    dd 查找当前文件中的函数

  dl
    dt ctrl + g
    dd 调到指定代码行

  dl
    dt ctrl + j
    dd 合并多行，默认向下合并一行。选择多行则合并选中行

  dl
    dt ctrl + [
    dd 向左退回一个级别

  dl
    dt ctrl + ]
    dd 向右增加一个级别

  dl
    dt ctrl + l
    dd 选择当前行

  dl
    dt ctrl + enter
    dd 在行中任何位置，向下开辟一个新行

  dl
    dt ctrl + shift + enter
    dd 在行中任何位置，向上开辟一个新行

  dl
    dt ctrl + w
    dd 关闭当前文件