.detail-title
  | sublime个人设置

.detail-content
  pre
    |{
    |  "color_scheme": "Packages/Color Scheme - Default/Monokai.tmTheme",
    |  "font_size": 14, //字体大小
    |  "tab_size": 2,
    |  "translate_tabs_to_spaces": true, //将tab转换为2个空格，“tab_size”一同配置
    |  "highlight_line": true, //高亮选中行
    |  "save_on_focus_lost": true, //丢失焦点后立即保存
    |  "show_encoding": true, //显示当前文件的编码，在右下脚
    |  "trim_trailing_white_space_on_save": true, //保存的时候将多余的空格去掉
    |  "rulers": [80], //宽度指引线
    |  "word_wrap": false, //自动换行，建议设置成false不换行
    |  "spell_check": false, //拼写检查，建议关闭
    |  "scroll_past_end": true, //是否滚过头，即最后一行是否可以滚到屏幕中
    |  "draw_white_space": "all", //显示tab或空格
    |  "bold_folder_labels": true, //加粗文件夹名称
    |  "show_full_path": true, //显示全路径
    |  "ignored_packages": //Vim模式
    |  [
    |    "Vintage"
    |  ],
    |  "line-padding_top": 2,
    |  "line_padding_bottom": 2
    |}