<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>多彩俱乐部欢迎您</title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
  <header class="ui-header">
    <h1>多彩工具</h1>
  </header>
  <main class="ui-main">
    <section class="factor">
      <dl>
        <dt>胆码：</dt>
        <dd class="input">
          <input type="text" class="ui-text">
        </dd>
        <dd class="index"></dd>
      </dl>
      <dl>
        <dt>杀码：</dt>
        <dd class="input">
          <input type="text" class="ui-text">
        </dd>
        <dd class="index"></dd>
      </dl>
    </section>
  </main>
  <footer class="ui-footer">

  </footer>
  <script src="/js/lib/jquery-1.11.2.min.js"></script>
  <script src="./index.js"></script>
</body>
</html>