extends common/layout

//- 样式文件
append css
  link(type="text/css" rel='stylesheet', href='/css/index.min.css')

//- 主体内容
block content
  .houwang
  .yaoguai
  .taopao

//- 脚本文件
append script
  script(type="text/javascript" src='/js/index.min.js')