extends common/full_layout

//- 样式文件
append css
  link(type="text/css" rel='stylesheet', href='/css/index.min.css')

//- 主体内容
block content
  .mu-container
    | 这是我的主场

//- 脚本文件
append script
  script(type="text/javascript" src='/js/lib/jquery-1.11.2.min.js')
  script(type="text/javascript" src='/js/index.min.js')