<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta name="renderer" content="webkit"/>
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="x-rim-auto-match" content="none">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<link href="../../common/css/index.css?ver=1" type="text/css" rel="stylesheet" />
	<title>app-template</title>
</head>
<body>
  <div class="page">
    <article>
      <p>歌曲: 小苹果 
      歌手: 筷子兄弟
      专辑: 《小苹果》
      作词：王太利 
      作曲：王太利</p>

      <p>我种下一颗种子
      终于长出了果实
      今天是个伟大日子
      摘下星星送给你
      拽下月亮送给你
      让太阳每天为你升起</p>

      <p>变成蜡烛燃烧自己
      只为照亮你
      把我一切都献给你
      只要你欢喜
      你让我每个明天都
      变得有意义
      生命虽短爱你永远
      不离不弃</p>

      <p>你是我的小呀小苹果儿
      怎么爱你都不嫌多
      红红的小脸儿温暖我的心窝
      点亮我生命的火 火火火火
      你是我的小呀小苹果儿
      就像天边最美的云朵
      春天又来到了花开满山坡
      种下希望就会收获</p>

      <p>从不觉得你讨厌
      你的一切都喜欢
      有你的每天都新鲜
      有你阳光更灿烂
      有你黑夜不黑暗
      你是白云我是蓝天</p>

      <p>春天和你漫步在盛开的 花丛间
      夏天夜晚陪你一起看 星星眨眼
      秋天黄昏与你徜徉在 金色麦田
      冬天雪花飞舞有你 更加温暖</p>

      <p>你是我的小呀小苹果儿
      怎么爱你都不嫌多
      红红的小脸儿温暖我的心窝
      点亮我生命的火 火火火火
      你是我的小呀小苹果儿
      就像天边最美的云朵
      春天又来到了花开满山坡
      种下希望就会收获</p>

      <p>你是我的小呀小苹果儿
      怎么爱你都不嫌多
      红红的小脸儿温暖我的心窝
      点亮我生命的火 火火火火
      你是我的小呀小苹果儿
      就像天边最美的云朵
      春天又来到了花开满山坡
      种下希望就会收获</p>
    </article>
  </div>
</body>
</html>