/* 
*描述：express.css
*作者：覃兴军
*最后更新日期：2015-11-11
*/
body {
  background: #eee;
}
header {
  padding: 10px 0;
  text-align: center;
}
header img {
  width: 99px;
  height: 99px;
}
footer{
  padding: 30px 0;
  text-align: center;
}
footer a {
  color:#666;
}
footer a:hover{
	text-decoration: underline;
	color: #001eff;
}
section {
  border-top: 1px solid #ddd;
}
section h1 {
  padding: 10px;
  padding-bottom: 0;
  font-weight: 400;
  color: #0f56f5;
}
section pre,
section p {
  margin-top: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}