/* 
*描述：首页样式
*作者：覃兴军
*最后更新日期：2015-10-29
*/
body {
  background: #eee;
}
header {
  padding: 10px 0;
  text-align: center;
}
header img {
  width: 99px;
  height: 99px;
}
section ul {
  margin-top: 20px;
  background-color: #fff;
  border:1px solid #eee;
  border-bottom: 0 none;
}
section ul:first-child {
  margin-top: 0;
}
section li {
  float: left;
  width:50%;
  height: 120px;
  line-height: 120px;
  text-align: center;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  color: #333;
}
section li:active {
  background-color: #ccc;
}
footer{
  padding: 30px 0;
  text-align: center;
}
footer a {
  color:#666;
}
footer a:hover{
	text-decoration: underline;
	color: #001eff;
}
