.detail-title
  | muJs文档

.detail-content
  dl
    dt
      | muSlideUp(option)
    dd
      | name：向上定时无缝滚动动画
      <br>
      | demo: $('#demo').muSlideUp({time: 5000, speed: 1000})
      <br>
      | @time: 滚动间隔时间
      <br>
      | @speed: 滚动速度
      <br>
      a(href="/opus/mujs/muSlideUp.html" title="向上定时无缝滚动动画") 查看演示
