extends ../common/layout

//- 样式文件
append css
  link(type="text/css" rel='stylesheet', href='/css/help.min.css')

//- 主体内容
block content
  .mu-container.clearfix
    each item in help
      a.list-item(href="##{item.id}")
          .item-img
            img(src="#{item.img}")
          .item-title #{item.title}

//- 脚本文件
append script
  script(type="text/javascript" src='/js/help.min.js')
