//- 全屏布局模板
doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='renderer', content='webkit')
    title 木屋顶
    meta(name='keywords', content='')
    meta(name='description', content='')
    block css
  body
    //- 页眉
    include header

    //- 主体
    block content

    //- 页脚
    include footer

    //- 页面小工具
    include widget

    //- 底部加载scripts
    block script