//- 网站页眉
header.mu-header
  .mu-container.clearfix

    //- logo
    .mu-logo
      a(href='/', title='木屋顶')
        img(src='/images/logo_200.jpg')

    //- navbar
    .mu-navbar
      ul
        li
          a(href='/opus.html') 作品
        li
          a(href='/library.html') 资源
        li
          a(href='/help.html') 帮助