//- 网站页眉
header.mu-header
  .mu-container

    //- logo
    .mu-logo
      a(href='/', title='一起牛')
        img(src='/images/logo.png', alt='一起牛')

    //- navbar
    .mu-navbar
      ul
        li
          a(href='/opus/index.html') 作品
        li
          a(href='/library/index.html') 资源
        li
          a(href='/help/index.html') 帮助