//- 回到顶部
a#muTop.mu-to-top(href='javascript:')

//- qq联系
a.mu-qq-contact(href="tencent://message/? uin=138009949&amp;Site=qq&amp;Menu=yes")
  img(src="/images/qq.png")

//- ajax-window
.mu-ajax-window
  a.mu-ajax-window-close
  .mu-ajax-window-content