/*
 * 木屋顶公用样式
 * qinxingjun
 */

// 引入基本样式
@import 'reset';

// 引入混合文件
@import 'minix';

/* ===========分割线================ */

// 脚手架
.mu-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

// 顶部
.mu-header {
  padding-top: 10px;
  height: 80px;
}
.mu-logo {
  float: left;
  width: 60px;
  height: 60px;
}
.mu-navbar {
  line-height: 60px;

  ul {
    margin-left: 10px;
    float: left;
    width: 360px;
  }

  li {
    width: 33.33333%;
    float: left;
  }

  a {
    display: inline-block;
    width: 120px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    color: #666;
  }

  a:hover {
    background: #ceeafc;
  }
}

// 底部
.mu-footer {
  height: 27px;
  line-height: 27px;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  text-align: center;

  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

// 回到顶部
.mu-to-top {
  display: none;
  position: fixed;
  bottom: 36px;
  right: 5%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #ccc;
  background: rgba(0, 0, 0, .3)
}

// 弹窗
.mu-ajax-window {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: auto;
  background: rgba(0,0,0,.5);

  .mu-ajax-window-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 1001;
    margin-left: -500px;
    padding: 40px 20px;
    width: 1000px;
    background: #fff;
    overflow: auto;
  }

  .mu-ajax-window-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url(/images/close.png) no-repeat 0 0;
  }
}

// 弹窗
.mu-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8000;
}