extends ../common/layout

//- 样式文件
append css
  link(type="text/css" rel='stylesheet', href='/css/opus.min.css')

//- 主体内容
block content
  .mu-container.clearfix
    a.list-item
      .item-img
        img(src="/images/opus_1.jpg")
      .item-title
        | 什么问题就是你的

//- 脚本文件
append script
  script(type="text/javascript" src='/js/opus.min.js')
